.purchaseOrder__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* permite crecer si el contenido lo necesita */
  height: auto;
  margin: 0 auto;
  color: #212121;
}

.purchaseOrder__filter {
  background-color: var(--grey);
  display: flex;
  width: 100%;
  height: auto;
}
.purchaseOrder__date-selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #212121;
  width: 50%;
  flex-direction: column;
}



.order__state {
  display: flex;
  gap: 1rem;
  background-color: var(--text-color);
  width: 100%;
}
.order__state__item {
  display: flex;
  gap: 1rem;
  color: #eee;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding: 5px;
}
.order__state__item p {
  color: var(--background2);
}

.purchaseOrder__tablecontainer {

  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 20px;
  overflow-x: auto;
}

.purchaseOrder__tablecontainer::-webkit-scrollbar {
  height: 6px;
}

.purchaseOrder__tablecontainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.purchaseOrder__supplier {
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50%;
}

.purchaseOrder__supplier h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.purchaseorder__title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    padding: 10px;
    background-color: var(--grey);
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.purchaseOrder__table {
  color: #fff;
  padding: 1rem 0;
  width: 90%;
  
  max-height: 500px;
}

.purchaseOrder__table__editIcon {
  color: var(--color-primary);
  margin-right: 10px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.purchaseOrder__table__deleteIcon {
  color: var(--color-primary);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #eee;
}

.actions__button {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}



@media only screen and (max-width: 576px) {
  .purchaseOrder__filter{
    flex-direction: column;
  }

  .purchaseOrder__supplier{
    width: 100%;
    padding: 0.5rem;
  }
 

  .purchaseOrder__tablecontainer {
    width: 100% !important;
  }

  .table {
    width: 100% !important;
    table-layout: fixed;
    font-size: 0.5rem;
  }

  .purchaseOrder__table__cell {
    word-wrap: break-word;
    font-size: 0.8rem;
  }

  .component__table__container{
    width: 95% !important;
  }
}

@media only screen and (max-width: 480px) {
  .purchaseorder__title{
    font-size: 1rem;
  }

  .purchaseOrder__supplier{
    width: 100%;
    padding: 0.5rem;
  }
 

  .purchaseOrder__tablecontainer {
    width: 100% !important;
  }

  .table {
    width: 100% !important;
    table-layout: fixed;
    font-size: 0.5rem;
  }

  .purchaseOrder__table__cell {
    word-wrap: break-word;
    font-size: 0.8rem;
  }

  .component__table__container{
    width: 95% !important;
    height: 700px;
  }
}