.budget__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.budget__title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    padding: 10px;
    background-color: var(--grey);
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.budget__tablecontainer{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background2);

    
}
.budget__option{
    background-color: var(--background2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    color: #fff;
    width: 100%;
    padding: 2px;
}
.budget__option button{
    padding:  10px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: var( --color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 15px;
}
.budget__option__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
}
.budget__input{
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-primary);
    color: #fff;
    font-size: 1rem;
}
.budget__state{
    display: flex;
    gap: 1rem;   
    background-color: var(--grey);
    width: 100%;
}
.budget__state__item{
    display: flex;
    gap: 1rem;
    color: var(--background2);
   align-items: center;
   width: 50%;
   justify-content: center;
   padding: 5px;
  
}
.budget__table{
    color: #fff;
   
    width: 95%;
    
    
}
.budget__table__header{
    position: sticky; 
    top: 0px;
    width: 100px;
    overflow-y: auto; 
    
    height: 50px;
    background-color: var(--color-primary);
    color: var(--text-color);


}
.budget__table__row{
    
    color: var(--background2);
    text-align: center;
    background-color:  var(--text-color);
    border: 3px solid #fff;
}
.budget__table__cell{
    width: 100px;
    height: 50px;
}
.budget__table__editIcon{
    color: var(--celeste-agua);
    margin-right: 10px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.budget__table_deleteIcon{
    color: var(--celeste-agua);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.budget__actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--grey);
}


.budgettable__container{
    width: 90%;
    height: auto;
    overflow-y: scroll;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding-bottom: 20px;
}

