.supplier__form__container {
    background: var(--background2);
    width:500px;
    border-radius: 10px;
    padding: 1rem;
  }

.supplier__title{
  text-align: center;
  color: var(--text-color);
}