.table {
  color: #212121;
  /* padding: 1rem 0; */
  min-width: 350px;

}
/* Contenedor de la tabla para hacer scroll */
.table-container {
  /* Ajusta según lo que necesites */
  overflow-y: auto;
  border: 1px solid #ddd; /* Opcional, para separar visualmente */
}

.table__header {
  background-color: var(--color-primary);
  color: var(--text-color);
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1; /* Asegura que el encabezado quede por encima del contenido */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Para darle un poco de sombra si se desea */
}



.table__row {
  text-align: center;
  background-color: var(--text-color);

}
.table__cell {
  width: auto;
  height: 50px;
  
  padding: 0 1rem;
}
.table__editIcon {
  color: var(--color-primary);
  margin-right: 10px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.table__deleteIcon {
  color: var(--color-primary);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.view-button {
  color: var(--color-primary);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.paginations-and-controls{
  margin-top: 1rem;
}
.paginations-and-controls button{
  background-color: var(--color-primary);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0 0.5rem;
  outline: none;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.paginations-and-controls span{
  color: var(--text-color);
}


@media only screen and (max-width: 576px) {
  .table{
    width: 50%;
  }
}